*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
}
.main{
    background-image: 
    linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgb(0,0,0,0.5)
    )
    ,url('../images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title{
    color: #f7f7f7;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 5rem;
    margin-left: 10rem;
    margin-bottom: 10rem;
}
.events{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 5rem;
    justify-items: center;
    text-align: center;
    padding:3rem 8rem;

}
.event{
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 5px;
}

.tagline{
    text-align: center;
    font-family: 'Pushster',cursive;
    margin-top: 2rem;
    color: orange;
    font-size: 3rem;
}
.event-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1rem;
}
.description{
    color: gray;
    font-size: 0.982rem;
    margin-top: 1.5rem;
}